@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.main-tarefas{
    margin: 0;
    width: 90vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
}

.conteiner{
    width: 60%;
    height: 100%;
    display: flex;
}

.adicionar{

    width: 10vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 2px 2px 2px;
    
}


.mais{
    background-color: #ffffff65;
    border: none;
    border-radius: 20px;
    width: 55px;
    height: 55px;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 3px 3px 1px 0px #00000060;
}

.mais:hover{
    width: 57px;
    height: 57px;
}

.conteiner-tarefas{
    background-color: #ffffff65;
    width: 80%;
    height: auto;
    border-radius: 25px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    overflow:auto;
    box-shadow: 3px 3px 1px 0px #00000060;
}

.dias{
    width: 95%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.dia{
    width: 7vw;
    height: 12.2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 2px 2px 2px;
    
}


.btn-dias{
    background-color: #90445b60;
    border: none;
    border-radius: 20px;
    width: 55px;
    height: 55px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-dias:hover{
    width: 57px;
    height: 57px; 
    background-color: #90445b91;  
}

.resumo{
    background-color: #90445b60;
    width: 32vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2px;
}

.resumo-input{
    width: 80%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #00000065;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}

.tarefas{
    width: 42vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

